doctype html
html
	head
		link(rel='stylesheet', media='screen', href='http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
		link(rel='stylesheet', href='css/style.css' )
		script(src='http://code.jquery.com/jquery.js')
		script(src='http://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
		title= title
	body
		nav.navbar.navbar-inverse(role="navigation")
			div.navbar-header
				a(href="/").navbar-brand Andreas Roessler
				button.navbar-toggle(type="button" data-toggle="collapse" data-target="#bs-navbar-collapse-1")
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
			div.collapse.navbar-collapse#bs-navbar-collapse-1
				ul.nav.navbar-nav
					-each val, key in links
						-if (id == key)
							li.active
								a(href='#{key}') #{val}
						-else            
							li
								a(href='#{key}') #{val}
		block content
		p!= message
		block scripts
